<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All movies</title>

    <ul>
        {{#each movies}}
            <li>The movie {{this.title}} was released in {{this.year}} and starred {{this.actor}}</li>
        {{/each}}
    </ul>


</head>
<body>
    
</body>
</html>