<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <form action="/formResults" method="POST">
        <input required type="email" name="userEmail"/><br/>
        <input required type="password" name="userPassword"/><br/>
        <button type="submit">Register</button>
    </form>
</body>

<script src="/js/main.js"></script>
</html>